/*start section web*/
body {
    position: relative;
}

.flot {
    .hero {
        max-height: 250px;
        z-index: 1;
    }

    h5 {
        font-size: 30px;
        color: #fff;
    }

    .navLink ol {
        display: inline-flex !important;

        li {
            color: $color-white;
        }

        li:nth-child(2) {
            color: $color-bransh
        }

        li::before {
            color: $color-white;
        }

        a {
            color: $color-white;
            text-decoration: none;

            &:hover {
                color: $color-bransh;
            }
        }
    }

    h5,
    .navLink {
        position: relative;
        text-align: center;
        top: -150px;
        z-index: 2;
    }
}

.news {
    position: relative;
    top: -100px;
    border-radius: 23px;
    border: 2px solid transparent;
    z-index: 0;

    >div:nth-child(1) {
        background-color: $color-white;

        @include xs {
            display: grid !important;
        }

        @include sm {
            display: grid !important;
        }

        @include md {
            display: grid !important;
        }

        @include lg {
            display: grid !important;
        }

        >div:nth-child(1) {
            text-align: center;
            margin-top: 6%;

            @include xs {
                width: 100%;
                order: 2;
            }

            @include sm {
                width: 100%;
                order: 2;
            }

            @include md {
                width: 100%;
                order: 2;
            }

            @include lg {
                width: 100%;
                order: 2;
            }

            h2 {
                color: $color-head;
                font-size: $font-h;
                padding-bottom: 15px
            }

            p {
                color: $color-gray;
                font-size: $font-p;
            }
        }

        >div:nth-child(2) {
            @include xs {
                width: 100%;
                order: 1;
            }

            @include sm {
                width: 100%;
                order: 1;
            }

            @include md {
                width: 100%;
                order: 1;
            }

            @include lg {
                width: 100%;
                order: 1;
            }

            >div {
                max-height: 800px;
                height: 353px;
                margin-top: 12%;
                margin-bottom: 15%;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius:6px;
                }
            }
        }
    }

    .accordion {
        margin-bottom: 10%;
    }

    .accordion-button {
        color: $color-bransh;
    }

    strong {
        color: $color-gray;
    }
}