nav {
    position: absolute !important;
    z-index: 9999999999;

    .nav-head {
        justify-content: center !important;

        @include sm {
            justify-content: start !important;
        }

        @include md {
            justify-content: start !important;
        }

        @include lg {
            justify-content: start !important;
        }

        .navbar-collapse {
            flex-grow: 0;

            .navbar-nav {
                margin-top: 15px;
            }

            .nav-item {

                &:hover .dropdown-menu {
                    display: block !important;
                    transition: all 2s ease-in-out;
                }

                &:nth-child(1) a {
                    color: #F2CE1B !important;
                }

                .nav-link {
                    color: #fff !important;

                    &:hover {
                        color: #F2CE1B !important;
                    }
                }

                .dropdown-menu {
                    display: none !important;

                    .dropdown-item {
                        padding: 10px 30px;
                    }
                }
            }
        }
    }
}
