header
    div(class='container')
        div(class='row')
            ul(class='col-sm-12 col-md-6 col-lg-6') 
                li 
                    a(href="https://www.facebook.com/maktec2020", target="_blank", rel="noopener noreferrer")
                        i(class="fab fa-facebook-f")
                li 
                    a(href="https://twitter.com", target="_blank", rel="noopener noreferrer")
                        i(class="fab fa-twitter")
                li 
                    a(href="https://google.com", target="_blank", rel="noopener noreferrer")
                        i(class="fab fa-instagram")
                li 
                    a(href="https://google.com", target="_blank", rel="noopener noreferrer")
                        i(class="fab fa-youtube")
                li 
                    a(href="https://google.com", target="_blank", rel="noopener noreferrer")
                        i(class="fab fa-linkedin")
                li 
                    a(href="https://goo.gl/maps/P3dmKmgToBtoUb1M7", target="_blank", rel="noopener noreferrer")
                        i(class="fas fa-map-marker-alt")
            div(class='col-sm-12 col-md-6 col-lg-6') 
                img(src="img/logo.png", alt="mactec")    
nav(class="navbar navbar-expand-lg navbar-light bg-light")
    div(class="nav-head container")
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                li(class="nav-item")
                    a(class="hvr-underline-from-center nav-link active" aria-current="page" href="index.html") الرئيسيه
                li(class="nav-item")
                    a(class="hvr-underline-from-center nav-link active" aria-current="page" href="mactec.html") ماك تك
                li(class="shot nav-item dropdown")
                    a(class="hvr-underline-from-center nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") الخدمات
                    ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pageMangSocial.html") إدارة منصات التواصل الإجتماعى  
                        li
                            a(class="hvr-bounce-to-right dropdown-item" href="pageWebSite.html") تصميم المواقع الألكترونيه
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pageApp.html") تطبيقات الموبايل
                        li
                            a(class="hvr-bounce-to-right dropdown-item" href="pagePhotoProdict.html") تصوير المنتجات
                        li
                            a(class="hvr-bounce-to-right dropdown-item" href="pageVideo.html") تصميم وانتاج الفيديوهات 
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pageGoogleAd.html") إعلانات جوجل AD
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pageSeo.html") كتابه المحتوى والـ SEO
                li(class="shot nav-item dropdown")
                    a(class="hvr-underline-from-center nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") دعايه وإعلان
                    ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pagecommercialPrints.html") مطبوعات تجاريه   
                        li
                            a(class="hvr-bounce-to-right dropdown-item" href="pagePrintPaper.html") مطبوعات ورقيه
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pageLAds.html")  لوحات إعلانيه
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="PageDesineSocial.html") تصميمات السوشيال ميديا
                li(class="nav-item")
                    a(class="hvr-underline-from-center nav-link active" aria-current="page" href="client.html") عملائنا
                li(class="nav-item")
                    a(class="hvr-underline-from-center nav-link active" aria-current="page" href="contact.html") تواصل معنا
                li(class="nav-item")
                    a(class="hvr-underline-from-center nav-link active" aria-current="page" href="#") مدونه التسويق الالكترونى 