doctype html
html(class='' lang="ar" dir='rtl')
    block sed
        head
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport" content="width=device-width, initial-scale=1")
        block titleName
            title ماك تك
        include includs/style.pug
    body(id='option')
        include header.pug
        block pageContent                                            
            .slider
                div(id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel")
                    div(class="carousel-indicators")
                        button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
                        button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2")
                        button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3")
                    div(class="carousel-inner")
                        div(class="carousel-item active")
                            .overshow
                            img(src="img/webslider.jpg" class="d-block w-100" alt="...")
                            div(class="carousel-caption container")
                                div
                                    hr(class='floter wow animate__animated animate__bounceInRight' data-wow-offset="0")
                                    h5(class='wow animate__animated animate__fadeIn ') لديك مشروع أو شركه دعنا نهتم بموقعك 
                                    button(class='wow animate__animated animate__fadeIn ') اطلب الان            
                        div(class="carousel-item")
                            .overshow
                            img(src="img/slider1.jpg" class="d-block w-100" alt="...")
                            div(class="carousel-caption container")
                                div(class='mar')
                                    hr(class='floter rt wow animate__animated animate__bounceInRight' data-wow-offset="0")
                                    h5(class='wow animate__animated animate__fadeIn ') تحقيق افضل المبيعات
                                    button(class='wow animate__animated animate__fadeIn ') اطلب الان
                        div(class="carousel-item")
                            .overshow
                            img(src="img/slider2.jpg" class="d-block w-100" alt="...")
                            div(class="carousel-caption container")
                                div
                                    hr(class='floter wow animate__animated animate__bounceInRight' data-wow-offset="0")
                                    h5(class='wow animate__animated animate__fadeIn ') تصميمات إعلانيه تناسب فكرتك
                                    button(class='wow animate__animated animate__fadeIn ') اطلب الان
                    button(class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev")
                        span(class="carousel-control-prev-icon" aria-hidden="true")
                        span(class="visually-hidden") Previous
                    button(class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next")
                        span(class="carousel-control-next-icon" aria-hidden="true")
                        span(class="visually-hidden") Next
            div(class='hlper container')
                div(class="wow animate__animated animate__fadeInUpBig" data-wow-offset="0") 
                    h1(class='') نحن نعيش ونتنفس الابــداع
                div(class='sections-one row')
                    article(class="col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig" data-wow-offset="0") 
                        i(class="fas fa-ad")
                        h6 تسويق الكتروني متكامل
                        p افكار تسويقيه  وتقنيه عاليه والتمتع بامكانيات فنيه متقدمه تحت سقف واحد ونسعى باستمرار لمواكبه التطور المتسارع في نظم المعلومات  والأتصالات والإعلان وذلك بمتابعه كل جديد وتطويعه لخلق بيئه عمل سريعه النمو توفر النجاح والتفوق لعملائنا. ​
                    article(class="col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig" data-wow-offset="0") 
                        i(class="far fa-building")
                        h6 تصميم وتطوير المواقع الالكترونية
                        p نعمل على تصميم وتطوير المواقع الالكترونيه وفق خطة وأهداف المشروع المقدم إلينا فهدفنا ليس تنفيذ أفكار عملائنا بشكل احترافي فقط  ولكن تحقق أعلى نسب ترافيك والحصول على موقع متوافق مع كافة الاجهزه ومحركات البحث وتمكين عملائنا من تحقيق نسب مبيعات عاليه وبناء علامه تجاريه تستحق الثقه.
                    article(class="col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig" data-wow-offset="0") 
                        i(class="fas fa-poll")
                        h6 تصميم وتسويق البرندات التجاريه 
                        p مع ماك تك هتعمل خطه متكاملة ومدروسه مسبقاً للتسويق الإلكتروني مما يحقق سرعة الانتشار باستراتيجيات عمل احترافية وآليات تنفيذ مميزه تجعلك تحقق أعلى المبيعات فى اسرع وقت ممكن مع التركيز على ضمان ولاء عملائك لعلامتك التجاريه مما يدعم مستقبلاً نشاطك التجارى ويساهم فى بناء علامه تجاريه مميزه فى السوق.  
                    article(class="col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig" data-wow-offset="0") 
                        i(class="fab fa-hubspot")
                        h6 محتوى متجدد ومتميز 
                        p المحتوى الجيد من صيغ تسويقية  وصور جرافيك وفيديو يجعل العميل أكثر حرصا على متابعة شركتك  لذلك نوفر دوماً الأفكار التسويقية المميزة ونضعها على هيئة محتوى مميز ومتجدد.
                    article(class="col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig" data-wow-offset="0") 
                        i(class="fas fa-palette")
                        h6 قسم متكامل لأعمال التصميم   
                        p لدينا مواهب فنية في أعمال الجرافيك والفيديو موشن وأعمال المالتميدا تلبي كافة احتياجاتك لعرض منتجاتك وخدماتك بشكل مميز ومختلف حيث نوفر كافة الأشكال الاعلانية المصورة التي تخدم فكرتك وجعل منتجك او الخدمه التى تقدمها فى قائمة اهتمام عملائك. ​
                    article(class="col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig" data-wow-offset="0") 
                        i(class="fas fa-globe-americas")
                        h6 إدارة السوشيال ميديا   
                        p ​معنا تستطيع إدارة وانشاء كافة منصات السوشيال ميديا بما يضمن تحقيق أعلى استفادة من نسب المشاهدة والتفاعلات من خلال خطط تسويقية تقوم على استهداف الشرائح المحدده لعملائك وفق سلوكهم الشرائى وبالتالى زياده رغبة عميلك فى شراء المنتج أو طلب الخدمة.

            .aboutmactec 
                div(class='backimg wow animate__animated animate__fadeInUpBig' data-wow-offset="0")
                    .overlay
                        div(class='container')
                            div
                                p ماك تك
                                    span
                                p ماك تك شركة مصرية 100% تعمل فى كافة خدمات تصميم وتطوير المواقع الألكترونيه على شبكة الانترنت منها خدمات الملتيميديا بكافة انواعها وخدمات التصميم والجرافكس والانيميشن وخدمات الطباعة بكافة انواعها وإقامة الحملات الاعلانيه  والانتخابيه  والتسويقيه والتسويق الالكترونى والعديد من الخدمات التى تميزنا بتقديمها للكثير من العملاء وحازلت على اعجابهم.

            div(class='services container')
                div(class='prgf wow animate__animated animate__fadeInUpBig' data-wow-offset="0") 
                    h1(class='') خدمات ماك تك
                article(class='row')
                    div(class='one-ser col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig' data-wow-offset="0")  
                        div.test
                            i(class="fas fa-bullhorn")
                            h6 إداره وسائل التواصل الإجتماعى
                            p إدارة مواقع التواصل الاجتماعي عملية  تتضمن إنشاء ونشر وتحليل منشوراتك على منصات وسائل التواصل مثل فيسبوك وتويتر انستجرام لهذا نعمل فى شركة ماك تك مع عملاءنا على كل ما يتعلق .....
                            button
                                a(href="pageMangSocial.html", rel="noopener noreferrer") إقراء المزيد
                    div(class='one-ser col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig' data-wow-offset="0")
                        div(id='ico-1' class='test')
                            i(class="fas fa-code")
                            h6 تصميم المواقع  
                            p فى ظل المنافسه القويه للتجاره الالكترونيه فى الوقت الحالى اكيد محتاج يكون ليك تواجد قوى فى السوق وخاصتاً على الانترنت علشان كدا الخطوه الاولى للتغلب على المنافسين وتحقيق اكبر عائد من المبيعات…… 
                            button
                                a(href="pageWebSite.html", rel="noopener noreferrer") إقراء المزيد
                    div(class='one-ser col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig' data-wow-offset="0")
                        div(id='ico-1' class='test')
                            i(class="fas fa-camera")
                            h6 تصوير المنتجات
                            p البيع على الإنترنت في تطور مستمر علشان كدا انت بحاجه إلى التركيز على المنتج وطريقه عرضه وتصويره بطريقه احترافيه تضمن ليك عمليه البيع لان صوره المنتج من أهم العناصر اللى بتساعدك فى ان عميلك يشترى منك....
                            button
                                a(href="pagePhotoProdict.html" rel="noopener noreferrer") إقراء المزيد
                    div(class='one-ser col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig' data-wow-offset="0")
                        div(id='ico-1' class='test')
                            i(class="fas fa-photo-video")
                            h6 تطبيقات الموبايل  
                            p تطبيقات الهاتف تلعب دور مهم فى حياتنا واستخدامها مش مقتصر على تطبيقات الالعاب والاستخدام الشخصى لا دى ليها استخدام مهم جداً من قبل اصحاب المشاريع...
                            button
                                a(href="pageApp.html", rel="noopener noreferrer") إقراء المزيد
                    div(class='one-ser col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig' data-wow-offset="0")
                        div(id='ico-1' class='test')    
                            i(class="fas fa-layer-group")
                            h6 إعلانات جوجل AD  
                            p لو بتشتغل رائد أعمال رقمى او بتبدا خطواتك الاولى فى السوق الرقمى والتجاره الالكترونيه فلازم تعرف أهمية الإعلان والتسويق الجيد لأعمالك التجارية على الانترنت.... 
                            button
                                a(href="pageGoogleAd.html" rel="noopener noreferrer") إقراء المزيد
                    div(class='one-ser col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig' data-wow-offset="0")
                        div(id='ico-1' class='test')
                            i(class="far fa-play-circle")
                            h6 تصميم وانتاج الفيديوهات
                            p دائما انت بحاجة لابهار عملائك بعرض رائع فى ماك تك نصنع لك محتوى مرئي فريد يزيد ارباحك و يوفر عليك الكثير من مشقة التسويق التقليدي...
                            button
                                a(href="pageVideo.html" rel="noopener noreferrer") إقراء المزيد
                    div(class='one-ser col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig' data-wow-offset="0")
                        div(id='ico-1' class='test')    
                            i(class="fas fa-chart-line")
                            h6 كتابه المحتوى والـ SEO   
                            p من المعروف ان محتوى الـ SEO يساهم بدرجه كبيره في ترتيب افضل لموقعك في محركات البحث وبالتالى دفع القراء للتفاعل معه عندها تبدأ محركات البحث بالبحث والتحليل عن تجربة المستخدم في موقعك… 
                            button
                                a(href="pageSeo.html" rel="noopener noreferrer") إقراء المزيد
                    div(class='one-ser col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig' data-wow-offset="0")
                        div(id='ico-1' class='test')    
                            i(class="fas fa-search-dollar")
                            h6 تصميمات السوشيال ميديا  
                            p تساهم تصميمات السوشيال ميديا بشكل كبير فى تذكير الجمهور بالعلامة التجارية أي "Brand" وإعطاء شعور للعملاء أن العلامة التجارية كاملة ومستمرة معهم في كل الأوقات...
                            button
                                a(href="PageDesineSocial.html" rel="noopener noreferrer") إقراء المزيد
                    div(class='one-ser col-sm-12 col-md-6 col-lg-4 wow animate__animated animate__fadeInUpBig' data-wow-offset="0")
                        div(id='ico-1' class='test')    
                            i(class="fas fa-users")
                            h6 تصميمات تجاريه متكامله
                            p المطبوعات التجاريه مهمه جدا لتثبيت علامتك التجاريه فى أذهان عملائك علشان كدا مصممين ماك تك يركزون بشكل كبير على خلق تصميمات جذابه للمنتجات والخدمات المعلن عنها... 
                            button
                                a(href="pagecommercialPrints.html" rel="noopener noreferrer") إقراء المزيد                        
            
            div(id='doar' class='clints wow animate__animated animate__fadeInUpBig' data-wow-offset="0")
                div(class='container')
                    h4 توقع أشياء عظيمه من ماك تك
                    p نحن نعلم مدى أهمية تجربة العميل وبالتالي نسعى جاهدين لجعل شركتك تتفوق في هذا.
                    div(class='post row') 
                        div(class='cont1 col-xs-6 col-sm-6 col-md-6 col-lg-3')
                            img(src="img/counter-1.png", alt="counter-1")
                            ul 
                                li + 
                                    span(class='run1') 1
                                li عملاء نشطين 
                        div(class='cont2 col-xs-6 col-sm-6 col-md-6 col-lg-3')
                            img(src="img/counter-2.png", alt="")
                            ul 
                                li + 
                                    span(class='run2') 1
                                li مستشاري الفريق 
                        div(class='cont3 col-xs-6 col-sm-6 col-md-6 col-lg-3')
                            img(src="img/counter-3.png", alt="counter-1")
                            ul 
                                li + 
                                    span(class='run3') 1
                                li المشاريع المنجزة  
                        div(class='cont4 col-xs-6 col-sm-6 col-md-6 col-lg-3')
                            img(src="img/counter-4.png", alt="")
                            ul 
                                li + 
                                    span(class='run4') 1
                                li سنوات الخبره 
                    //-
                        div(class='post2 col-lg-6')
                            div 
                                img(src="img/counter.png", alt="counter")
            
            div(class="worktcnic container wow animate__animated animate__fadeInUpBig" data-wow-offset="0")
                h4 نستخدم اقوى التقنيات لتحقيق التميز لعملائنا
                div(class='slidbar' dir='ltr')
                    div(class="splide wow animate__animated animate__fadeInUpBig" data-wow-offset="0")
                        div(class="splide__track wow animate__animated animate__fadeInUpBig" data-wow-offset="0")
                            div(class="splide__list")
                                img(src='img/log1.png' class="splide__slide")
                                img(src='img/log2.png' class="splide__slide")
                                img(src='img/log3.png' class="splide__slide")
                                img(src='img/log4.png' class="splide__slide")
                                img(src='img/log5.png' class="splide__slide")
                                img(src='img/log6.png' class="splide__slide")
                                img(src='img/log7.png' class="splide__slide")
                                img(src='img/log8.png' class="splide__slide")
                                img(src='img/log9.png' class="splide__slide")
                                img(src='img/log10.png' class="splide__slide")
                                img(src='img/log11.png' class="splide__slide")
                                img(src='img/log12.png' class="splide__slide")
                                img(src='img/log13.png' class="splide__slide")
            div(class="team container wow animate__animated animate__fadeInUpBig" data-wow-offset="0")
                div 
                    h4 شركاء النجاح
                    p عملاء وثقوا فى مالك تك للاستمرار فى مسيره التقدم والنجاح                                    
                div
                    ul(class='row')
                        li(class='col-sm-6 col-md-3 col-lg-3')
                            img(src="img/lo1.jpg", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo2.jpg", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo3.png", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo4.jpg", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo5.png", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo6.png", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo7.jpg", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo8.jpg", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3')
                            img(src="img/lo9.jpg", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo10.jpg", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo11.jpg", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo12.jpg", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo13.jpg", alt="", srcset="")
                        li(class='col-sm-6 col-md-3 col-lg-3') 
                            img(src="img/lo14.jpg", alt="", srcset="")
        include footer.pug
        .app
            a(href="https://Web.whatsapp.com/send?phone=201015645555&text=", target="_blank", rel="noopener noreferrer")
                i(class="fab fa-whatsapp")
            a(href="https://www.messenger.com/t/109169867123047/", target="_blank", rel="noopener noreferrer")
                i(class="fab fa-facebook-messenger")
            a(href="tel:+201015645555")
                i(class="fas fa-phone-square")
            block script
                script(src='js/bootstrap.bundle.min.js')
                script(src="js/wow.min.js")
                script(src="js/splide.min.js")
                script(src='js/custam.js')
        