extends index.pug
block titleName
    title من نحن
block pageContent
    div.boot 
        div(class='container boot')
            img(src="img/about.jpg" alt="")
            div
                a(href="https://www.facebook.com/maktec2020", target="_blank", rel="noopener noreferrer")
                    i(class="fab fa-facebook-f")
    div(class='container prov')
        h2 عن ماك تك
        div(class='row')
            div(class='col-6')
                span 4 مايو 2021  11:15 م 
                i(class="far fa-calendar-alt") 
            div(class='col-6')
                span Eng/ Mohamed El_Komy
                i(class="fas fa-user-tie")
            
        p ماك تك شركة مصرية 100% تعمل فى كافة خدمات تصميم وتطوير المواقع الألكترونيه على شبكة الانترنت منها خدمات الملتيميديا بكافة انواعها وخدمات التصميم والجرافكس والانيميشن وخدمات الطباعة بكافة انواعها وإقامة الحملات الاعلانيه  والانتخابيه  والتسويقيه والتسويق الالكترونى والعديد من الخدمات التى تميزنا بتقديمها للكثير من العملاء وحازلت على اعجابهم.
        h2 رؤيتنا
        p لأن من أهدافنا تقديم الأفضل دائما وبالسعر المناسب لكل من يختار التعامل معنا والأفضل هو مايعني اجود الخدمات التقنيه المبنيه على أساس علمي سليم وذلك بتوفير فريق عمل قادر على تطويع التقنيات المتطوره لتلبيه حاجات العملاء وبالأسلوب البعيد عن العشوائية  وبهذا فأننا نضمن بقائنا دائما في المقدمه.
        h2 مهمتنا
        p شركة  ماك تك للتسويق والدعايه والإعلان تسعى باستمرار لمواكبه التطور المتسارع في نظم المعلوماتيه والاتصالات والإعلان وذلك بمتابعه كل جديد وتطويعه لخلق بيئة عمل سريعة النمو للتأكيد على نجاح عملائها وأعمالهم سواءً بسواء وتتركز جهودنا الحاليه على تزويد العميل بالحلول الأكثر تطوراً وتقدماً في مجال إدارة الأعمال وتطبيقات تكنولوجيا المعلومات من خلال تقديم حلول متكاملة في كافة مجالات البرمجة وتصميم المواقع الالكترونيه على شبكه الانترنت و الاستشارات الفنية و الحملات التسويقية وذلك بإستخدام أكثر الأدوات تقدماً والمتاحه في هذا المجال لمواجهه كافة تحديات العمل خاصة في ظل مانشهده من منافسه عاليه  بسوق العمل هذا اليوم.
        h2 هدفنا
        p الشركه تضع في مقدمه اهتمامها السعى دائماً لخدمة عملائنا الكرام واحترام المواعيد والمصداقية في العمل وتوفير الأستشاره والمعلومه المفيده للعملاء قبل حتى الأقدام على التعامل معهم ومحاوله توفير التجهيزات والخدمات المتميزه والراقيه بأقل تكلفه ممكنه والأبتعاد قدر المستطاع عن تسويق التجهيزات الرخيصه والغير عمليه وبهذا نحن نسعى للحصول على مركز متميز في المراكز المتقدمه.


block script
    script(src='js/bootstrap.bundle.min.js')