nav(class="abs navbar navbar-expand-lg navbar-light")
    div(class="nav-head container")
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                li(class="nav-item")
                    a(class="nav-link active" aria-current="page" href="index.html") الرئيسيه
                li(class="nav-item")
                    a(class="nav-link active" aria-current="page" href="mactec.html") ماك تك
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") الخدمات
                    ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pageMangSocial.html") إدارة منصات التواصل الإجتماعى  
                        li
                            a(class="hvr-bounce-to-right dropdown-item" href="pageWebSite.html") تصميم المواقع الألكترونيه
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pageApp.html") تطبيقات الموبايل
                        li
                            a(class="hvr-bounce-to-right dropdown-item" href="pagePhotoProdict.html") تصوير المنتجات
                        li
                            a(class="hvr-bounce-to-right dropdown-item" href="pageVideo.html") تصميم وانتاج الفيديوهات 
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pageGoogleAd.html") إعلانات جوجل AD
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pageSeo.html") كتابه المحتوى والـ SEO
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") دعايه وإعلان
                    ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pagecommercialPrints.html") مطبوعات تجاريه   
                        li
                            a(class="hvr-bounce-to-right dropdown-item" href="pagePrintPaper.html") مطبوعات ورقيه
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="pageLAds.html")  لوحات إعلانيه
                        li
                            a(class="hvr-bounce-to-left dropdown-item" href="PageDesineSocial.html") تصميمات السوشيال ميديا
                li(class="nav-item")
                    a(class="nav-link active" aria-current="page" href="client.html") عملائنا
                li(class="nav-item")
                    a(class="nav-link active" aria-current="page" href="contact.html") تواصل معنا
                li(class="nav-item")
                    a(class="nav-link active" aria-current="page" href="#") مدونه التسويق الالكترونى 