extends index.pug
include includs/mixin.pug
block sed
    block sed
        head
            script(src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js')
            script(src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js')
            script(src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js')
            meta(charset='UTF-8')
            meta(name="robots" content="noindex")
            link(rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico")
            link(rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111")
            link(rel="canonical" href="https://codepen.io/z-/pen/XjRprX?limit=all&page=23&q=contact+")
            link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Quicksand:300,400,70')
            block titleName
                title تطبيقات الموبايل  
                link(class="cp-pen-styles" rel="stylesheet", href="css/root.css")
                link(rel="stylesheet", href="css/bootstrap.rtl.min.css")
                link(rel="stylesheet", href="css/bootstrap.rtl.min.css")
                link(rel="stylesheet" href="css/all.min.css")
                link(rel="stylesheet" href="css/animate.min.css")
                link(rel="stylesheet" href="css/splide.min.css")
                link(rel="stylesheet" href="css/hover.css")
                link(rel="stylesheet", href="css/style.css") 
block pageContent
    div(class='')
        .flot
            +svg
            h5 تطبيقات الموبايل
            nav(class='navLink' style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسيه
                    li(class="breadcrumb-item active" aria-current="page") الخدمات

    div(class='container news')
        div(class='row')
            div(class='col-6') 
                h2(style='font-size: 21px;'  class='hvr-underline-from-center') تصميم وبرمجه تطبيق للموبايل سواء اندرويد أو ios
                P تطبيقات الهاتف تلعب دور مهم فى حياتنا واستخدامها مش مقتصر على تطبيقات الالعاب والاستخدام الشخصى لا دى ليها استخدام مهم جداً من قبل اصحاب المشاريع ورجال الاعمال لانهم بيستخدموا التطبيقات دى فى اداره اعمالهم والترويج لمنتجاتهم لان التطبيقات سواء اندرويد او ios من اكثر الوسائل تحقيقا للمبيعات فلا يوجد مؤسسة كبرى او شركة لا تمتلك تطبيق خاص بها.
                p(style="color:#003366;") علشان كدا لازم تعرف اهم معايير نجاح تطبيقات الجوال 
                div(class="accordion" id="accordionPanelsStayOpenExample")
                    div(class="accordion-item")
                        h2(class="accordion-header" id="panelsStayOpen-headingOne")
                            button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne") الكفاءة
                        div(id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne")
                            div(class="accordion-body") 
                                strong من اهم المعايير التى نعمل على تحقيقها لان دا اللى بيدور عليه اصحاب المشروعات عند قيامهم بتصميم تطبيق خاص لأعمالهم وشركاتهم.
                    div(class="accordion-item")
                        h2(class="accordion-header" id="panelsStayOpen-headingTwo")
                            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo") السرعة
                        div(id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo")
                            div(class="accordion-body")
                                strong ودا ميزه لازم تكون فى اى تطبيق حتى تسمح للمستخدمين بالتفاعل من التطبيق بدون ملل اثناء التصفح.
                    div(class="accordion-item")
                        h2(class="accordion-header" id="panelsStayOpen-headingThree")
                            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree") توضيح الهدف وتحديده  
                        div(id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree")
                            div(class="accordion-body")
                                strong ودا صميم عملنا فى ماك تك لاننا قبل تصميم وبرمجه التطبيق بنحدد الجمهور المستهدف من التطبيق والهدف من خلال دراسه سلوك المستهلك على اساس نوعه وموقعه وعمره علشان نقدر نصمم تطبيق احترافى يتناسب من الفكره والهدف منه.
                p(style="color:#003366;") ايه اللى يميز ماك تك عن غيرها لو محتاج اعمل تطبيق للموبايل سواء اندرويد او ايفون!    
                ul(style="text-align:right")
                    li(style="margin-bottom: 3%;")
                        i(class="fas fa-arrow-alt-circle-left" style="color:#faaf41;")
                        span(style="margin-right: 5px; color:#7e7e7e;") تصميم وبرمجه مختلف انواع التطبيقات سواء تطبيقات العاب او برامج محادثات او برامج تجاريه وغيرها.
                    li(style="margin-bottom: 3%;")
                        i(class="fas fa-arrow-alt-circle-left" style="color:#faaf41;")
                        span(style="margin-right: 5px; color:#7e7e7e;") تطبيقات سريعه وسهله الاستخدام.
                    li(style="margin-bottom: 3%;")
                        i(class="fas fa-arrow-alt-circle-left" style="color:#faaf41;")
                        span(style="margin-right: 5px; color:#7e7e7e;") عمل اختبار مبدئي للتطبيق على بعض المستخدمين قبل وضعه على المنصة وطرحه فى الاسواق بشكل رسمى بحيث يتم التعرف على اوجه الخلل والعيوب فى التطبيق واصلاحها قبل القيام بنشره للكثير من المستخدمين.
                    li(style="margin-bottom: 5%;")
                        i(class="fas fa-arrow-alt-circle-left" style="color:#faaf41;")
                        span(style="margin-right: 5px; color:#7e7e7e;") العمل دائما على خدمة عملائنا بأقل الاسعار لان هدفنا دايما التطوير و التميز لعملائنا بشكل دورى.
            div(class='col-6')
                div
                    img(src="img/app.jpg", alt="", srcset="")
block script
    script(src='js/bootstrap.bundle.min.js')
    script(src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='js/svg.js')