extends index.pug
include includs/mixin.pug
block sed
    block sed
        head
            script(src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js')
            script(src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js')
            script(src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js')
            meta(charset='UTF-8')
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(name="robots" content="noindex")
            link(rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico")
            link(rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111")
            link(rel="canonical" href="https://codepen.io/z-/pen/XjRprX?limit=all&page=23&q=contact+")
            link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Quicksand:300,400,70')
            block titleName
                title إدارة منصات التواصل الاجتماعى
            link(class="cp-pen-styles" rel="stylesheet", href="css/root.css")
            link(rel="icon" href="img/logo.png" sizes="32x32" type="image/png")
            link(rel="stylesheet", href="css/bootstrap.rtl.min.css")
            link(rel="stylesheet", href="css/bootstrap.rtl.min.css")
            link(rel="stylesheet" href="css/all.min.css")
            link(rel="stylesheet" href="css/animate.min.css")
            link(rel="stylesheet" href="css/splide.min.css")
            link(rel="stylesheet" href="css/hover.css")
            link(rel="stylesheet", href="css/style.css")
block pageContent
    div(class='')
        .flot
            +svg
            h5 إداره منصات التواصل الاجتماعى
            nav(class='navLink' style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسيه
                    li(class="breadcrumb-item active" aria-current="page") الخدمات

    div(class='container news')
        div(class='row')
            div(class='col-6') 
                h2(class='hvr-underline-from-center') إدارة مواقع التواصل الاجتماعي
                P لكى تقوم بإدارة مواقع التواصل الخاصة بك من المهم جدا أن تفهم ما هو أبعد من تعريف مصطلح إدارة مواقع التواصل الاجتماعي انت بحاجة الى أن تفهم ما هي هذه العملية وماذا تشمل وما هي خطواتها حتى تحقق أقصى استفادة منها للوصول الى النجاح المطلوب لشركتك.
                p لهذا نعمل فى شركة ماك تك مع عملاءنا على كل ما يتعلق بعملية إدارة مواقع التواصل الاجتماعي بكل خطواتها من:
                div(class="accordion" id="accordionPanelsStayOpenExample")
                    div(class="accordion-item")
                        h2(class="accordion-header" id="panelsStayOpen-headingOne")
                            button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne") إدارة المحتوى لمنصات التواصل الاجتماعي
                        div(id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne")
                            div(class="accordion-body") 
                                strong إدارة مواقع التواصل الاجتماعي عملية  تتضمن إنشاء ونشر وتحليل منشوراتك على منصات وسائل التواصل مثل فيسبوك وتويتر انستجرام بالإضافة إلى كيفية التفاعل مع المستخدمين من خلال هذه المنصات وبإمكانك أن تسهِّل على نفسك عملية إدارة مواقع التواصل باستخدام الأدوات المجانية ولكنها لن توفر لك الربح والانتشار المرجو فى ظل استخدام منافسيك لمنصات اعلانيه وخدمات تقدمها بعض الشركات أو الوكالات.
                    div(class="accordion-item")
                        h2(class="accordion-header" id="panelsStayOpen-headingTwo")
                            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo") الرصد الاجتماعي (Social listening)
                        div(id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo")
                            div(class="accordion-body")
                                strong وتعنى مراقبة الكلمات الرئيسية (keywords) الهاشتاج (hashtags) الإشارات (mentions) والرسائل الخاصة التي تتحدث عنك وعن البراند الخاص بك أو منافسيك و تحليل النتائج التي حصلت عليها من خلال عملية الرصد الاجتماعي (Social listening) سيساعدك القيام بذلك على ضبط عملية الرصد والتسويق.
                    div(class="accordion-item")
                        h2(class="accordion-header" id="panelsStayOpen-headingThree")
                            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree") استراتيجية إدارة مواقع التواصل الاجتماعي
                        div(id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree")
                            div(class="accordion-body")
                                strong هي ملخص شامل لكل ما تخطط له ولكل ما تأمل في تحقيقه من خلال مواقع التواصل أنها تنظم عملك وتمنحك القدرة على تقييم نفسك سواء بالنجاح أو الفشل وكلما كانت خطتك واضحة ومحددة كلما ازداد تأثيرها وأصبحت أكثر نجاحاً وفعالية لذلك هدفنا من البدايه رسم استراتيجيه واضحه تضمن لعملائنا النجاح والتفوق المستمر فى سوق الاعمال او على المستوى الشخصى والمواهب الفرديه.
            
            div(class='col-6')
                div
                    img(src="img/mrct.jpg", alt="", srcset="")
block script
    script(src='js/bootstrap.bundle.min.js')
    script(src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='js/svg.js')