extends index.pug
include includs/mixin.pug
block sed
    block sed
        head
            script(src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js')
            script(src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js')
            script(src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js')
            meta(charset='UTF-8')
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(name="robots" content="noindex")
            link(rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico")
            link(rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111")
            link(rel="canonical" href="https://codepen.io/z-/pen/XjRprX?limit=all&page=23&q=contact+")
            link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Quicksand:300,400,70')
            block titleName
                title تصميم وانتاج الفيديوهات  
            link(rel="icon" href="img/logo.png" sizes="32x32" type="image/png")
            link(class="cp-pen-styles" rel="stylesheet", href="css/root.css")
            link(rel="stylesheet", href="css/bootstrap.rtl.min.css")
            link(rel="stylesheet", href="css/bootstrap.rtl.min.css")
            link(rel="stylesheet" href="css/all.min.css")
            link(rel="stylesheet" href="css/animate.min.css")
            link(rel="stylesheet" href="css/splide.min.css")
            link(rel="stylesheet" href="css/hover.css")
            link(rel="stylesheet", href="css/style.css") 
block pageContent
    div(class='')
        .flot
            +svg
            h5 تصميم وانتاج الفيديوهات 
            nav(class='navLink' style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسيه
                    li(class="breadcrumb-item active" aria-current="page") الخدمات

    div(class='container news')
        div(class='row')
            div(class='col-6') 
                h2(class='hvr-underline-from-center') تصميم وانتاج فيديوهات باحدث التقنيات العالميه
                P دائما انت بحاجة لابهار عملائك بعرض رائع فى ماك تك نصنع لك محتوى مرئي فريد يزيد ارباحك و يوفر عليك الكثير من مشقة التسويق التقليدي فهدفنا هو الوصول الى جمهورك و زيادة الارباح والمبيعات وزيارات موقعك فنحن نستعين بأحدث الطرق التسويقية كالموشن جرافيك وغيره من الاساليب الاخرى.
                p(style="color:#003366;") ايه اللى هتقدمهولك ماك تك فى انتاج وتصميم الفيديوهات
                ul(style="text-align:right")
                    li(style="margin-bottom: 3%;")
                        i(class="fas fa-arrow-alt-circle-left" style="color:#faaf41;")
                        span(style="margin-right: 5px; color:#7e7e7e;") كتابة سيناريو كامل عن الفيديو لعلامتك التجاريه يقوم على افضل سبل التسويق.
                    li(style="margin-bottom: 3%;")
                        i(class="fas fa-arrow-alt-circle-left" style="color:#faaf41;")
                        span(style="margin-right: 5px; color:#7e7e7e;") تعليق صوتى فى ماك تك يتم إعداد التعليق الصوتي وتسجيله باعلي جودة وأحترافية من قبل متخصصون لإخراج فيديو يعبر عن أعمالك.
                    li(style="margin-bottom: 3%;")
                        i(class="fas fa-arrow-alt-circle-left" style="color:#faaf41;")
                        span(style="margin-right: 5px; color:#7e7e7e;") اختيار وقت الفيديو المناسب  فنحن نتيح لعملائنا تحديد الوقت لفيديو الموشن جرافيك الخاص بهم.
                    li(style="margin-bottom: 5%;")
                        i(class="fas fa-arrow-alt-circle-left" style="color:#faaf41;")
                        span(style="margin-right: 5px; color:#7e7e7e;") إخراج الفيديو بشكل احترافى لاننا بنستخدام افضل البرامج العالميه  والتقنيات المستخدمه فى مجال انتاج الفيديو لنقدم لعملائنا افضل الاعمال المعبره عن هويه اعمالهم ونشاطهم التجارى. 
                    li(style="margin-bottom: 5%;")
                        i(class="fas fa-arrow-alt-circle-left" style="color:#faaf41;")
                        span(style="margin-right: 5px; color:#7e7e7e;") سرعة التسليم لحرصنا فى ماك تك علي تسيلم العميل المشروع ذو جودة عالية في المدة المتفق عليها.          
            div(class='col-6')
                div
                    img(src="img/video.jpg", alt="", srcset="")
block script
    script(src='js/bootstrap.bundle.min.js')
    script(src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='js/svg.js')