mixin listInfo
    ul
        li
            i(class="fas fa-map-marked")
            span العنوان: 15 شارع حسن المأمون - مدينة نصر - القاهرة
        li
            i(class="fas fa-phone")
            span تليفون: 
            a(href="tel:+201015645555") 01015645555
        li
            i(class="fas fa-phone")
            span تليفون: 
            a(href="tel:+00224720663") 0224720663
        li
            i(class="fas fa-envelope")
            span الايميل: 
            a(href="mailto:info@maktecdigital.com" target='_blank') info@maktecdigital.com
    ul(class='folink') 
        li 
            a(href="#")
                i(class="fab fa-linkedin")
        li 
            a(href="#")
                i(class="fab fa-twitter")
        li 
            a(href="#")
                i(class="fab fa-youtube")
        li 
            a(href="#")
                i(class="fab fa-instagram")
        li 
            a(href="https://www.facebook.com/maktec2020", target="_blank", rel="noopener noreferrer")
                i(class="fab fa-facebook-f")
mixin clients
    ul(style='' class='row')
        li(class='col-sm-6 col-md-3 col-lg-3')
            img(src="img/lo1.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo2.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo3.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo4.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo5.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo6.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo7.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo8.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3')
            img(src="img/lo9.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo10.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo11.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo12.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo13.jpg", alt="", srcset="")
        li(class='col-sm-6 col-md-3 col-lg-3') 
            img(src="img/lo14.jpg", alt="", srcset="")
mixin svg
     div(class="hero" id="particles-js")
        div(class="w wave")
        div(class="w wave2")
        div(class="w wave3")
        div(class="w wave4")
