link(rel="icon" href="img/logo.png" sizes="32x32" type="image/png")
link(rel="stylesheet", href="css/bootstrap.rtl.min.css")
link(rel="stylesheet", href="css/bootstrap.rtl.min.css")
link(rel="stylesheet" href="css/all.min.css")
link(rel="stylesheet" href="css/animate.min.css")
link(rel="stylesheet" href="css/splide.min.css")
link(rel="stylesheet" href="css/hover.css")
link(rel="stylesheet", href="css/style.css")
